

{% extends "base.html" %}
{% load static %}
{% block content %}
        <main id="MainContent" class="content-for-layout">
            <div class="cart-page mt-100">
                <div class="container">
                    <div class="cart-page-wrapper">
                        <div class="row">
                            <div class="col-lg-7 col-md-12 col-12">
                                <table class="cart-table w-100">
                                    <thead>
                                      <tr>
                                        <th class="cart-caption heading_18">Товар</th>
                                        <th class="cart-caption heading_18"></th>
                                        <th class="cart-caption text-center heading_18 d-none d-md-table-cell">Количество</th>
                                        <th class="cart-caption text-end heading_18">Цена</th>
                                      </tr>
                                    </thead>
                        
                                    <tbody>
                                        {% for good in cart_list %}
                                        <tr class="cart-item">
                                          <td class="cart-item-media">
                                            <div class="mini-img-wrapper">
                                                <img class="mini-img" src="{{ good.good.goods.first.good_photo.url }}" alt="img">
                                            </div>                                    
                                          </td>
                                          <td class="cart-item-details">
                                            <h2 class="product-title"><a href="{% url 'good-detail' good.good.slug %}" >{{ good.good.good_name }}</a></h2>
                                            <p class="product-vendor">Модель {{ good.good.model }} </p>                                   
                                          </td>
                                          <td class="cart-item-quantity">
                                            <div class="quantity d-flex align-items-center justify-content-between">
                                                <button class="qty-btn dec-qty"><img src="{% static 'assets/img/icon/minus.svg' %}"
                                                        alt="minus"></button>
                                                <input class="qty-input" type="number" name="qty" value="1" min="0">
                                                <button class="qty-btn inc-qty"><img src="{% static 'assets/img/icon/plus.svg' %}"
                                                        alt="plus"></button>
                                            </div>
                                            {% comment %} <a href="{% url 'delete_from_cart' slug=good.good.slug %}" class="product-remove mt-2">Remove</a> {% endcomment %}
                                            <form action="{% url 'delete_from_cart' slug=good.good.slug %}" method="post">
                                                {% csrf_token %}
                                                <input type="submit" value="Remove">
                                            </form>                           
                                          </td>
                                          <td class="cart-item-price text-end">
                                            <div class="product-price"> $ {{ good.good.good_cost }} </div>                           
                                          </td>                        
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                            <div class="col-lg-5 col-md-12 col-12">
                                <div class="cart-total-area">
                                    <h3 class="cart-total-title d-none d-lg-block mb-0">Корзина</h4>
                                    <div class="cart-total-box mt-4">
                                        <div class="subtotal-item subtotal-box">
                                            <h4 class="subtotal-title">Кол-во товаров</h4>
                                            <p class="subtotal-value">{{ count_obj }}</p>
                                        </div>
                            
                                        <hr />
                                        <div class="subtotal-item discount-box">
                                            <h4 class="subtotal-title">Total:</h4>
                                            <p class="subtotal-value">${{total}}</p>
                                        </div>
                                        <div class="d-flex justify-content-center mt-4">
                                            <a href="{% url 'checkout_cart' %}" class="position-relative btn-primary text-uppercase">
                                                Оформить заказ
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </main>
                                        {% endblock %}
        