{% extends "base.html" %}
{% load static %}


        
            {% block content %} 
            <main id="MainContent" class="content-for-layout">
            <div class="about-page">
                <div class="about-hero mt-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="about-hero-content">
                                    <h2 class="about-hero-title">Doska - некомерчесский пэт проект. </h2>
                                    <h4> Для начала работы: </h4>
                                    <ul class="about-hero-action p-0">
                                        <li class="action-item d-flex">
                                            <div class="action-count">01</div>
                                            <div class="action-content">
                                                <p class="action-subtitle"> Создайте суперюзера </p>
                                            </div>
                                        </li>
                                        <li class="action-item d-flex">
                                            <div class="action-count">02</div>
                                            <div class="action-content">
                                                <h4 class="action-title"><a href="#"Добавить модератора с правами.> </a></h4>
                                                <p class="action-subtitle">Добавить пользователя с ролью "модератор" и установить ему права на админ панель. </p>
                                            </div>
                                        </li>
                                        <li class="action-item d-flex">
                                            <div class="action-count">03</div>
                                            <div class="action-content">
                                                <p class="action-subtitle">Добавить товары на сайт </p>
                                            </div>
                                        </li>
                                        <li class="action-item d-flex">
                                            <div class="action-count">04</div>
                                            <div class="action-content">
                                                <p class="action-subtitle">Можно добавлять в избранное и корзину, а так же оформлять заказ. </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="about-hero-img">
                                    <img src=" {% static 'assets/about.jpg' %} " alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
            {% comment %} </div> {% endcomment %}
        </main>
